<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${publish.title}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/moment.js" type="application/javascript"></script>
    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:replace="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row white">
        <!--左侧主要内容-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--标题-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3><span th:text="${publish.title}"></span></h3>
                <span class="show_content">
                    作者：<span th:text="${publish.user.name}"></span>
                    &nbsp;|&nbsp;&nbsp;浏览数：<span th:text="${publish.viewCount}"></span>
                    <span> &nbsp;|&nbsp; </span>
                     <a th:href="@{'/publish/'+${publish.id}}" class="color_999"
                        th:if="${session.user != null && session.user.id == publish.creator}">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span>
                    </a>
                    <span class="pull-right"
                          th:text="${#dates.format(publish.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span>
                </span>
                <hr class="margin_top_0 margin_bottom_5">
                <span th:each="tag : ${publish.tag.split(',')}">
<!--                    <span class="glyphicon glyphicon-tags"></span>-->
                    <span class="label label-info" th:text="${tag}"></span>
                </span>
                <hr class="margin_top_5">
            </div>

            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span th:text="${publish.description}"></span>
                <hr>
            </div>

            <!--回复输入-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="comment_section">
                <h4>提交回复</h4>
                <hr class="margin_top_0">
                <div class="media-left">
                    <a th:href="@{'/images/headImg.png'}">
                        <img class="media-object img-rounded img_size"
                             th:src="${session.user != null ? session.user.getAvatarUrl() : '/images/headImg.png'}">
                    </a>
                </div>
                <div class="media-body">
                    <h5 class="media-heading padding_top_10">
                        <span th:text="${session.user != null ? session.user.name : '匿名用户'}"></span>
                    </h5>
                </div>
                <!--                <input type="hidden" class="type" id="contribute_id" th:value="23333">-->
                <input type="hidden" class="type" id="contribute_id" th:value="${publish.id}">
                <input class="form-control margin_top_15" rows="6" id="comment_content">
                <button class="btn btn-success btn_publish margin_top_15" onclick="post()">回复</button>
            </div>

            <!--回复-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="margin_top_30 padding_0">
                    <span th:text="${publish.commentCount}"></span>个回复
                </h4>
                <hr class="margin_top_0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="comment : ${comments}">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded img_size"
                                     th:src="${comment.user.getAvatarUrl()}">
                            </a>
                        </div>
                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <h5 class="media-heading">
                                <span th:text="${comment.user.name}"></span>
                            </h5>
                            <div th:text="${comment.content}"></div>
                            <div class="margin_top_15">
                                <span class="glyphicon glyphicon-thumbs-up pointer"></span>
                                <span class="margin_left_5 pointer"
                                      th:data-id="${comment.id}" onclick="collapseComments(this)">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${comment.commentCount}"></span>
                                </span>
                                <span class="pull-right show_content"
                                      th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm:ss')}"></span>
                            </div>
             <!--二级评论-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_15 boder_eee collapse"
                                 th:id="${'comment-'+comment.id}">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control"  placeholder="输入评论内容" th:id="${'input-'+comment.id}">
                                    <button class="btn btn-success btn_publish margin_top_15" onclick="comment(this)" th:data-id="${comment.id}">评论</button>
                                </div>
                            </div>

                        </div>
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin_top_0">
                    </div>
                </div>
            </div>

        </div>

        <!--右侧主要内容-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                <h4 class="margin_top_30">发起人:</h4>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded img_size"
                                 th:src="${publish.user.getAvatarUrl()}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading padding_top_10">
                            <span th:text="${publish.user.name}"></span>
                        </h5>
                    </div>
                    <hr>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0">
                        <h4>关注我们:</h4>
<!--                        <img src="/images/123.png" class="img-thumbnail">-->
                    </div>
                    <hr>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding_0">
                        <h4>相关问题:</h4>
                           <ul class="publish-rated">
                               <li class="margin_left_15" th:each="related : ${relatePublishes}">
                                   <a th:href="@{'/contribute/' + ${related.id}}" th:text="${related.title}"></a>
                               </li>
                           </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>