<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发布-picAcg</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid" >
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PicAcg</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-controWl" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">=></button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                        <li role="separator" class="divider"></li>
                    </ul>
                </li>
                <li th:if="${session.user==null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=a3cf6bea3750da124132&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

    <div class="container-fluid main">
        <div class="row white">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 ">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
                <hr>
                <form action="/publish" method="post">
                    <div class="form-group">
                        <label for="title">插画标题</label>
                        <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="插画标题 = v =" />
                    </div>
                    <div class="form-group">
                        <label for="title">标题说明</label>
                        <textarea class="form-control"  th:text="${description}" name="description" id="description" cols="30" rows="10"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="tag">添加标签</label>
                        <input type="text" class="form-control" th:value="${tag}" name="tag" id="tag" placeholder="添加标签，以，号分隔"/>
                    </div>

                    <div class="raw">
                        <div class= "alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${error!=null}" th:text="${error}"></div>
                        <div>
                            <button class="btn btn-success btn_publish col-lg-12 col-md-12 col-sm-12 col-xs-12">发布</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 " >
                <h3>插画发起指南</h3>
                插画标题：请用精简的语言描述你的插画名称，不超过25个字<br/>
                * 标题说明：对您的插画进行详细的补充说明<br/>
                * 添加标签：对您的添加一个或多个合适的标签<br/>
            </div>
        </div>
    </div>

</body>
</html>