<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发布-picAcg</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/community.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="/js/plugins/image-dialog/image-dialog.js"></script>
</head>
<body>
<div th:replace="navigation :: nav"></div>
    <div class="container-fluid main">
        <div class="row white">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 ">
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
                <hr>
                <form action="/publish" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group">
                        <label for="title">插画标题</label>
                        <input type="text" class="form-control" th:value="${title}" id="title" name="title" placeholder="插画标题 = v =" autocomplete="off"/>
                    </div>
                    <div class="form-group" id="pubish-editor">
                        <label for="title">标题说明</label>
                        <textarea class="form-control" style="display:none;" th:text="${description}" name="description" id="description" cols="30" rows="10"></textarea>
                    </div>
                    <script type="text/javascript">
                        $(function() {
                            var editor = editormd("pubish-editor", {
                                width  : "100%",
                                height : "300px",
                                path   : "/js/lib/",
                                delay: 0,
                                watch: true,
                                placeholder: "请输入插画描述",
                                imageUpload: true,
                                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                imageUploadURL: "/file/upload",
                            });
                        });
                    </script>
                    <div class="form-group margin_bottom_2">
                        <label for="tag">添加标签</label>
                        <input type="text" class="form-control" onclick="showSelectTag()" th:value="${tag}" name="tag" id="tag" placeholder="添加标签，以，号分隔" autocomplete="off"/>
                    </div>
                    <div class="margin_bottom_15 margin_top_15">
                        <div class="publish-tag-tab" id="select-tag">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" th:each="selectCategory,selectCategoryStat: ${tags}"
                                    th:class="${selectCategoryStat.first ? 'active':''}">
                                    <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                       data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                                </li>
                            </ul>
                            <div class="tab-content margin_top_5">
                                <div role="tabpanel" th:id="${selectCategory.categoryName}"
                                     th:each="selectCategory: ${tags}"
                                     th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span>
                                    <span th:each="selectTag: ${selectCategory.tags}">
                                    <span class="label label-info pointer" onclick="selectTag(this)"
                                          th:data-tag="${selectTag}"
                                          th:text="${' '+selectTag}">
                                    </span>
                                </span>
                                </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="raw">
                        <div class= "alert alert-danger col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${error!=null}" th:text="${error}"></div>
                        <div>
                            <button class="btn btn-success btn_publish col-lg-12 col-md-12 col-sm-12 col-xs-12">发布</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 " >
                <h3>插画发起指南</h3>
                插画标题：请用精简的语言描述你的插画名称，不超过25个字<br/>
                * 标题说明：对您的插画进行详细的补充说明<br/>
                * 添加标签：对您的添加一个或多个合适的标签<br/>
            </div>
        </div>
    </div>
<div th:replace="footer :: foot"></div>
</body>
</html>